.one{
	background: #118BC0;
	height: 50px;
}
.two{
	background: #344051;
	height: 1110px;
	padding-bottom: 30px;
}
.three{
	background: #E8F0F5;
	height: 190px;
}
.four{
	background: #D1D3D7;
	height: 1556px;
	padding-top: 32px;
}
.five{
	background: #E8F0F5;
	height: 70px;
	padding-top: 100px; /*moves blue box down*/
}
.six{
	background: #000000;
	height: 45px;
	padding-top: 85px;
}
.seven{
	color: white;
	font-size: 34px;
	text-align: center;
	padding-top: 165px;

}
.eight{
	color: white;
	font-size: 34px;
	text-align: center;
}
.nine{
	color: white;
	text-align: center;
	font-size: 16px;
	margin-top: 40px;
}
.ten{
	color: white;
	text-align: center;
	font-size: 16px;
}
.eleven{
	background:#1E8CBE;
	height: 50px;
	margin: 35px auto 0px;
	width: 210px;
	border: #212934 solid 10px;
}
.twelve{
	background: white;
	height: 20px;
	width: 50px;
	margin: 215px auto 135px;
}
.thir{
	background: white;
	height: 70px;
	width: 300px;
	margin: 0px auto 30px;
}
.fourt{
	background: white;
	margin: 0px 10px 32px;
	height: 215px; 
}
.fift{
	background: white;
	margin: 0px 10px 32px;
	height: 240px; 
}
.sixt{
	background:#1E8CBE;
	height: 50px;
	width: 210px;
	margin: 0px auto 0px;
}
.sevent{
	background:white;
	height: 25px;
	margin: 0px 155px 0px;
}