.one{
	background: #118BC0;
	height: 50px;
}
.two{
	background: #344051;
	height: 1110px;
}
.three{
	background: #E8F0F5;
	height: 190px;
}
.four{
	background: #D1D3D7;
	height: 1575px;
}
.five{
	background: #E8F0F5;
	height: 170px;
}
.six{
	background: #000000;
	height: 130px;
}
.seven{
	color: white;
	font-size: 34px;
	text-align: center;
	padding-top: 165px;

}
.eight{
	color: white;
	font-size: 34px;
	text-align: center;
}
.nine{
	color: white;
	text-align: center;
	font-size: 16px;
	margin-top: 40px;
}
.ten{
	color: white;
	text-align: center;
	font-size: 16px;
}
.eleven{
	background:#1E8CBE;
	height: 50px;
	margin: 35px 125px 0px;
	border: #212934 solid 10px;
}